@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Crimson+Text:wght@400;600;700&display=swap');
@import './base.css';

@font-face {
  font-family: 'ZT Formom';
  src: url('../../preload/fonts/ZT Formom.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Formom';
  src: url('../../preload/fonts/ZT Formom Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

h1, h2, h3, h4, h5 {
  font-family: 'ZT Formom', serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.cup-page-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.cup {
  position: relative;
  width: 25vw;
  aspect-ratio: 2/3;
}

.cup img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cup-foreground {
  z-index: 100;
}

.cup-background {
  z-index: 0;
}

.cup-fill {
  position: absolute;
  left: 1.85vw;
  right: 1.85vw;
  bottom: 1.85vh;
  z-index: 2;
  top: auto;
  width: auto;
  transition: height 0.1s ease;
  border-radius: 0.7vw;
}

.cup-cat {
  animation: MoveUpDown 2s ease-in-out infinite;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(-55%);
  }
  50% {
    transform: translateY(-45%);
  }
}

.cup-info-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 0.5rem;
}

.cup-button-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 0.5vw;
}

.cup-button-container > button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  max-height: 10vh;
  max-width: 10vh;
  aspect-ratio: 1;
}
.cup-button-container > button img {
  height: 100%;
  width: auto;
  object-fit: contain;
  filter: saturate(0) brightness(145%) contrast(90%);
}
.cup-button-container > button img:hover {
  cursor: pointer;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  border-radius: 1.5rem;
  gap: 0.4vw;
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: linen;
}

.store-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  place-items: center;
  justify-items: center;
  gap: 1rem;
  width: 100%;
}

.color-circle {
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.1s;
}

.color-circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.1rem;
}

.glass{
	position: relative;
	display: inline-block;
  padding: 5px;
	background-color: darkgray;
	background-image: linear-gradient(darkgray,lightgray);
  border-radius: 1rem;
  border: 2px solid gray;
  color: #0e0e0e;

}

.glass-disabled {
  background-color: linear-gradient(gray,darkgray)!important;
}

.glass-active:after{
	content: '';
  border-radius: 0.9rem;
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.0));
}

.glass-light{
	position: relative;
	display: inline-block;
  padding: 5px;
	background-color: lightgray;
	background-image: linear-gradient(lightgray, #efefef);
  border-radius: 1rem;
  border: 2px solid darkgray;
  color: rgb(85, 85, 85);
}

.glass-light:hover {
  cursor: pointer;
}

.glass:hover {
  cursor: pointer;
}
