@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.cup {
  width: 12rem;
  height: 18rem;
  background-color: white;
  display: flex;
  align-items: flex-end;
}

.cup-fill {
  width: 100%;
  background-color: palevioletred;
  transition: height 0.1s ease;
}
